body{
    margin: 0%;
    background-color: #0f0e17;
}

.titulo{
    color: #fffffe;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 70px;
    font-family: 'Roboto', sans-serif;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    background-color:#ff8906;
    height: 70px;
    
}

#nav{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-left: 20px;
    padding-top: 25px;
    padding-bottom: 15px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    color: black;
    

}
#logo{
    width: auto;
    border-radius: 5px;
    margin-left: 3px;
    margin-right: 530px;
    padding-top: 3px;
    padding-bottom: 3px;
}
#presentacion{
    margin-left: 3vw;
}

h3{
    color: #fffffe;
    font-family: 'Roboto', sans-serif;
    font-size: 1.15rem;
    margin-bottom: 40px;
        
}
.lista a{
    text-decoration: none;
    color: #fffffe;
    font-family: 'Roboto', sans-serif;
    font-size: 1.15rem;

}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.row a{
    text-decoration: none;
    color: #fffffe;
}
#fotos{
    color: #fffffe;
}
.pie{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #b6b8cb;
    font-family: 'Roboto', sans-serif;
    font-size: .9rem;
    

    
}
.pie a{
    text-decoration: none;
    color: #ff8906;
    margin-left: 8px;
    font-size: .9rem;
}
h5{
    font-family: 'Roboto', sans-serif;
    font-size: .9rem;
    color: #b6b8cb;
}
.container{
    border-color: #ff8906;
    border-style: solid;
    margin: 6px 6px 6px 6px;


}
h6{
    font-family: 'Roboto', sans-serif;
    font-size: .6rem;
    color: #b6b8cb;
    text-align: center;
}
#logo3{
    width: 150px;
    height: 150px;
    border-radius: 20px;
    margin-top: 50px;
}