body{
    margin: 0%;
    background-color: #0f0e17;
}

.titulo{
    color: #fffffe;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 70px;
    font-family: 'Roboto', sans-serif;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    background-color: rgb(226, 179, 98);
    height: 60px;
    
}

#nav{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 15px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    color: black;

}
#logo{
    width: 200px;
    margin-left: 3px;
    margin-right: 500px;
    padding-top: 3px;
    padding-bottom: 3px;
}
#presentacion{
    margin-left: 3vw;
}

h3{
    color: #fffffe;
    font-family: 'Roboto', sans-serif;
    font-size: 1.15rem;
    margin-bottom: 40px;
        
}
.lista a{
    text-decoration: none;
    color: #fffffe;
    font-family: 'Roboto', sans-serif;
    font-size: 1.15rem;

}
