body{
    margin: 0%;
    background-color: #0f0e17;
}

.titulo{
    color: #fffffe;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'Roboto', sans-serif;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    background-color:#ff8906;
    height: 70px;
    
}

#nav{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-left: 20px;
    padding-top: 25px;
    padding-bottom: 15px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    color: black;
    

}
#logo{
    width: auto;
    border-radius: 5px;
    margin-left: 3px;
    margin-right: 530px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    background-color:#ff8906;
    width: 80%;
    margin: auto;
    margin-bottom: 100px;
    
}
.box{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: auto;
    height: 400px;
    
    
}
.derecha{
    margin: auto;
    width: 50%;
    font-family: 'Roboto', sans-serif;
}
.derecha input{
    width: 300px;
    margin-bottom: 5px;
    color: black;
    font-family: 'Roboto', sans-serif;
    
}
.derecha input::placeholder{
    font-family: 'Roboto', sans-serif;
    color: #b6b8cb;
}
.derecha textarea{
    width: 301px;
    margin-bottom: 5px;
    color: black;
    font-family: 'Roboto', sans-serif;
}
#enviar{
    width: 100px;
    text-align: center;
    background-color:#0f0e17 ;
    color:#fffffe;
    font-family: 'Roboto', 'sans-serif';
    margin-left: 100px;

}
#enviar:hover{
    background-color: #fffffe;
    color: #0f0e17;
    transition: .5s;

}

.izquierda{
    margin-right: 60px;
    margin-top: 60px;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
}



#formulario{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    

}
.pie{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #b6b8cb;
    font-family: 'Roboto', sans-serif;
    font-size: .9rem;
    

    
}
.pie a{
    text-decoration: none;
    color: #ff8906;
    margin-left: 8px;
    font-size: .9rem;
}
h5{
    font-family: 'Roboto', sans-serif;
    font-size: .9rem;
    color: #b6b8cb;
}
.container1{
    border-color: #ff8906;
    border-style: solid;
    margin: 6px 6px 6px 6px;


}
h6{
    font-family: 'Roboto', sans-serif;
    font-size: .6rem;
    color: #b6b8cb;
    text-align: center;
}
#logo3{
    width: 150px;
    height: 150px;
    border-radius: 20px;
    margin-top: 50px;
}