body{
    background-color: #0f0e17;
    margin: 0%;
}

.titulo{
    color:#fffffe;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'Roboto', sans-serif;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    background-color:#ff8906;
    height: 70px;
    
}

#nav{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-left: 20px;
    padding-top: 25px;
    padding-bottom: 15px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    color: black;
    

}
#logo{
    width: auto;
    border-radius: 5px;
    margin-left: 3px;
    margin-right: 530px;
    padding-top: 3px;
    padding-bottom: 3px;
}
h3 {
    color: #fffffe;
    font-family: 'Roboto', sans-serif;
}
h2 {
    color: #fffffe;
    font-family: 'Roboto', sans-serif;
    margin-left: 30px;
}
.row{
    display: flex;
    flex-direction:row;
    justify-content: stretch;
    margin: 40px 40px;
        
}
.row a{
    text-decoration: none;
    color: #2e2f3e;
    background-color: #ff8906;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}
#s1 button{
    background-color: #ff8906;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
    margin-left: 130px;
}
#s2 button {
    background-color: #ff8906;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    margin-top: 80px;
    margin-left: 190px;
}
#s3 button{
    background-color: #ff8906;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    margin-left: 130px;
}

.row_1{
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    margin-bottom: 100px;
        
}
.row_1 a{
    text-decoration: none;
    color: #2e2f3e;
    background-color: #ff8906;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}
#imc_img{
    width: 250px;
    padding: 30px 30px;
}
#medidas_img{
    width: 400px;
    padding: 10px 10px;
    margin-top: 30px;
}
#geo_img{
    width: 250px;
    padding: 30px 30px;
    
}
h3{
    text-align: center;

}
#s1 {
    border-color: #ff8906;
    border-style: solid;
    margin: 3px 6px;
}
#s2 {
    border-color: #ff8906;
    border-style: solid;
    margin: 3px 6px;
}
#s3 {
    border-color: #ff8906;
    border-style: solid;
    margin: 3px 6px;
}
#img_calc{
    width: 300px;
}
#img_est{
    width: 300px;
}
#img_imp{
    width: 300px;
}

.row_1 #s1{
    border-color: #ff8906;
    border-style: solid;
    padding: 10px 10px;
}
.row_1 #s2{
    border-color: #ff8906;
    border-style: solid;
    padding: 10px 10px;
}
.row_1 #s3{
    border-color: #ff8906;
    border-style: solid;
    padding: 10px 10px;
}



.pie{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #b6b8cb;
    font-family: 'Roboto', sans-serif;
    font-size: .9rem;
        
}
.pie a{
    text-decoration: none;
    color: #ff8906;
    margin-left: 8px;
    font-size: .9rem;
}
h5{
    font-family: 'Roboto', sans-serif;
    font-size: .9rem;
    color: #b6b8cb;
}
.container{
    border-color: #ff8906;
    border-style: solid;
    margin: 6px 6px 6px 6px;


}
h6{
    font-family: 'Roboto', sans-serif;
    font-size: .6rem;
    color: #b6b8cb;
    text-align: center;
}
#logo3{
    width: 150px;
    height: 150px;
    border-radius: 20px;
    margin-top: 50px;
}