body{
    background: #ffe259;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffa751, #ffe259);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffa751, #ffe259); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
}

.nav-bar{
    position: fixed;
    top: 10px;
    right: 20px;
   
    
}
.nav-bar a{
    margin: 10px;
    text-decoration: none;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    
}
#logo{
    
    width: 100px;
}

.titulo{
    margin-top: 30px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
       
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    margin-top: 50px;
    font-family: 'Raleway', sans-serif;
}
.titulo h1{
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
}


.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    width: 300px;
}
input{
    height: 25px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    
}
input::placeholder{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    
}
#option{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    
}
#sexo{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: rgb(125, 125, 125);
}

.box-1{
    width: 40%;
}
.box-1 h2{
    font-family: 'Raleway', sans-serif;
    text-align: center;

}
.box-1 p{
    font-family: 'Raleway', sans-serif;
    text-align: justify;
}
